.addToListBtnWrapper {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1000;
}

.registerBtn {
  border-top-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  border-top-right-radius: 5px !important;
}

.toggleButton {
    border-top-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    border-top-right-radius: 5px !important;
  }

.toggleButton::after {
    display: none !important; /* Hide the arrow symbol */
  }

.dropdownMenuDark {
  background-color: #212529 !important; /* Change to the desired background color */
  border: none !important; /* Remove the border */
}

.dropdownMenuLight {
  background-color: #F8F9FA !important; /* Change to the desired background color */
  border: none !important; /* Remove the border */
}

.dropdownItem {
  color: #198754 !important; /* Set text color */
  padding: 0.5rem 1rem !important; /* Adjust padding */
}

.dropdownItem:hover {
  color: white !important;
  background-color: #198754 !important; /* Change background color on hover */
}