
/* Styles for the media navigation in light mode */
.mediaNavLight, .mediaNavDark {
    margin: 90px 0 20px 0;
}

.bg-pink {
background-color: pink !important;
}
  
.text-pink {
color: pink !important;
}