.randomBackdropWrapper {
    height: 700px;
    position: relative;
    overflow: hidden;
}

.randomBackdrop {
    filter: brightness(70%);
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: top;
}

/* Apply styles for screens with a maximum width of 768px (typical for mobile devices) */
@media (max-width: 768px) {
    .randomBackdropWrapper {
        height: 100vh;
        overflow: auto;   
    }
    
    .randomBackdrop {
        height: 100%;
        object-position: top;
    }
}

.titleWrapper { 
    position: absolute;
    left: 20px;
    bottom: 350px;
}

.title {
    color: white;
}

.randomBackdropInfo {
    position: absolute;
    left: 30px;
    bottom: 20px;
    color: white;
    text-align: center;
}

.randomBackdropInfo:hover {
    filter: brightness(80%);
}

