
* {
  box-sizing: border-box;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: #000000;
}

html {
  font-size: 16px;
}

#root, html, body {
  width: 100%;
  height: 100%;
  font-size: 16px;
}

footer {
  background: #393E41;
  padding: 5px 0;
  width: 100%;
  text-align: center;
  margin: auto 0 0 0;
  color: #FFF;
}

.App {
  background: #F8F9FA;
  max-width: 100vw;
  min-height: 100%;
  position: relative;
  overflow: hidden;
  padding: 0 !important;
  display: flex;
  flex-direction: column;  
  
  a {
    text-decoration: none !important;
  }

  form > div > div >  input {
    border-radius: 0 !important;
  }
  

}


