
.navbarBrand {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
}

.logoWrapper {
    height: 1.2em;
    width: auto;   
    display: flex;
    align-items: center;
    justify-content: center;
}

.logoImg {
    height: 100%;
    width: 100%;
}