.card {
    position: relative;
    max-width: var(--card-width);
    height: auto;
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    align-items: center;
    justify-content: flex-start;
    font-size: 1rem;
  }
  
  .card:hover .addToListBtn {
    visibility: visible;
  } 
  
  .cardImg {
    position: relative;
    width: auto;
    height: auto;
  }
  
  .cardImg:hover {
    filter: brightness(50%);
  }

  .cardTitle {
    font-size: 1.1rem;
    font-weight: bold;

  }