.categoryNav {
    background: #05445E;
    width: 100%;
    /* /position: sticky; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:center;
}

.categoryTabs li {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.categoryTabs a:hover {
    background: grey;
    /* color: black; */
}

.categoryBtn {
    /* height: 100%; */
    width: auto;
    padding: 20px;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
}