.moviePage {
    height: auto;
    max-width: 100%;
    /* width: 100vw; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* .showPage > * {
padding: 10px 0;
} */


.allMovieInfo {
    width: var(--main-width);
}

.movieInfoContainer {
    display: flex;
    gap: 20px;
    /* flex-wrap: wrap; */
    /* width: var(--main-width); */
}

.titleSection {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 10px;
    font-size: 2rem;
    font-weight: bold;
}


.personCard {
    text-align: center;
    width: auto;
}

.trailer {
    /* position: absolute; */
    top: 50%;
    left: 50%;
    height: 100%;
    width: 100%;
    border: none;
}

.trailerContainer {
    height: 50%;
    width: 60%;
    position: absolute;
    top:50%;
    left: 10%;
}

.hiddenTrailer {
    display: none;
    visibility: hidden;
    height: 0;
}

.castWrapper, .similarShowsWrapper, .recMoviesWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-self: flex-start; */
    /* width: 100%; */
}

.moviePosterWrapper {
    height: auto;
    width: auto;
}