nav {
    opacity: 0.85;
    background: #393E41;
    position: sticky;
    top: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    z-index: 1;
}

.pageTabs {
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pageTabs li {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pageTabs a:hover {
    background: grey;
    /* color: black; */
}

.homeBtn, .listsBtn, .moviesBtn, .seriesBtn {
    height: 100%;
    width: auto;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.homeBtn > img {
    width: 25px;
    height: 25px;
}

.searchSection {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchSection form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: auto;
}

.searchSection input {
    font-size: 1rem;
    padding: 10px;
    line-height: 100%;
    margin: 10px 0;
    flex-grow: 2;
}

.searchSection button {
    background: #FBEC5D;
    border: none;
}
  