nav {
    position: sticky;
    top: 0;
    padding: 0;
    width: 100%;
    font-size: 1.2rem;
    opacity: 0.85;
    background: #393E41;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    z-index: 1;
}

.navTabs {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.pageTabs li {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* align-items: center; */
}

.pageTabs a:hover {
    background: #FBEC5D;
    color: black;
}

.homeBtn, .listsBtn, .moviesBtn, .seriesBtn {
    height: 100%;
    width: auto;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.homeBtn > img {
    width: 25px;
    height: 25px;
}

.searchSection {
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchSection form {
    /* height: auto; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.searchSection input {
    font-size: 1rem;
    padding: 10px;
    /* line-height: 1.5rem; */
    outline: none;
}

.searchSection button {
    background: #FBEC5D;
    border: none;
    border-radius: none;
    height: 100%;
    outline: none;
    padding: 10px;
}