.searchResults {
    transition: opacity 1s ease;
    height: auto;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}