.seriesTabs > * {
    color: black;
    background-color: red;
    font-size: 40px;
}

.seriesTabs {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}
