.seriesNav > * {
    background: #05445E;
    position: sticky;
    top: 0;
    padding: 0;
    /* width: 80%; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:space-evenly;
    z-index: 1;
}


.seriesTabs li {
    width: ;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    justify-content: center;
}

.seriesTabs a:hover {
    background: grey;
    /* color: black; */
}

.popularTVBtn, .topTVBtn, .latestTVBtn {
    /* height: 100%; */
    width: auto;
    padding: 20px;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
}