.showPage {
    height: auto;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.allShowInfo {
    width: var(--main-width);
}

/* .showInfoContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
} */

.showInfoContainer {
    display: flex;
    gap: 20px;
    /* width: 80%; */
    /* justify-content: center; */
    /* flex-wrap: wrap; */
}

.showInfo {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.titleSection {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 10px;
    font-size: 2rem;
    font-weight: bold;
}

.seasonSection {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 10px;
}

.personCard, .seasonCard {
    text-align: center;
    width: auto;
}

.trailer {
    /* position: absolute; */
    top: 50%;
    left: 50%;
    height: 100%;
    width: 100%;
    border: none;
}

.trailerContainer {
    height: 50%;
    width: 60%;
    position: absolute;
    top:50%;
    left: 10%;
}

.hiddenTrailer {
    display: none;
    visibility: hidden;
    height: 0;
}

.seasonWrapper, .castWrapper, .similarShowsWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.showPosterWrapper {
    height: auto;
    width: auto;
}