
.categoryPageLight {
    background: #F8F9FA ;
    color: black;
    transition: background 0.3s, color 0.3s;
}

.categoryPageDark {
    background: #212529;
    transition: background 0.3s;
}

.categoryPageDark * {
    color: white;
    transition: color 0.3s;
}

.categoryPageLight, .categoryPageDark {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    min-height: 100vh;
}