
.homePageLight {
    background: #F8F9FA ;
    color: black;
    
}

.homePageDark {
    background: #212529;
}

.homePageLight, .homePageDark {
    transition: background 0.3s, color 0.3s;
    /* margin-top: 54px; */
}

.homePageDark * {
    color: white;
    transition: color 0.3s;
}

.homePageLight h2, .homePageDark h2{
    margin: 0;
}

.container {
    margin-top: 40px;
}



