
.homePageLight {
    background: #F8F9FA ;
    color: black;
    transition: background 0.3s, color 0.3s; 
}

.homePageDark {
    background: #212529;
    transition: background 0.3s, color 0.3s;
}

.homePageDark * {
    color: white;
    transition: color 0.3s;
}

.homePageLight h2, .homePageDark h2{
    margin: 0;
}

.container {
    margin-top: 40px;
}



