
.listPageLight {
    background: #F8F9FA ;
    color: black;
    transition: background 0.3s, color 0.3s;
} 

.listPageDark {
    background: #212529;
    transition: background 0.3s;
}

.listPageDark * {
    color: white;
    transition: color 0.3s;
}

.listPageLight, .listPageDark {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-top: 70px;
}

.cardGrid {
    width: 80%;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(185px, auto));
    justify-items: center;
}