
.loginPageDark h1, .loginPageDark h2 {
    color: white;
}

.loginPageLight, .loginPageDark {
    height: 100vh;
    transition: background 0.3s, color 0.3s; 
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.loginPageInfoLight, .loginPageInfoDark {
    padding: 40px;
    transition: background 0.2s;
}

.loginPageInfoLight {
    background: rgb(248, 249, 250);
}

.loginPageInfoDark {
    background: rgb(33, 37, 41);
}

.brand {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
}

.logoWrapper {
    height: 1.2em;
    width: auto;   
    display: flex;
    align-items: center;
    justify-content: center;
}

.logoImg {
    height: 100%;
    width: 100%;
}