
.loginPageLight {
    background: #F8F9FA ;
    color: black;
}

.loginPageDark {
    background: #212529;
}

.loginPageDark * {
    color: white;
}

.loginPageLight, .loginPageDark {
    height: 100vh;
    transition: background 0.3s, color 0.3s; 
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.loginPageInfoLight, .loginPageInfoDark {
    padding: 50px;
    transition: background 0.2s;
}

.loginPageInfoLight {
    background: rgb(248, 249, 250);
}

.loginPageInfoDark {
    background: rgb(33, 37, 41);
}