
.mediaPageLight {
    background: #F8F9FA ;
    color: black;
    transition: background 0.3s, color 0.3s; 
}

.mediaPageDark {
    background: #212529;
    transition: background 0.3s;
}

.mediaPageDark * {
    color: white;
    transition: color 0.3s;
}

.posterWrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 0; */
}

