.personPageLight {
    background: #F8F9FA ;
    color: black;
    transition: background 0.3s, color 0.3s;
}

.personPageDark {
    background: #212529;
    transition: background 0.3s;
}

.personPageDark, .personPageLight {
    min-height: 100vh;
}

.personPageDark * {
    color: white;
    transition: color 0.3s;
}