
.registerPageLight {
    background: #F8F9FA;
    color: black;
}

.registerPageDark {
    background: #212529;
}

.registerPageDark * {
    color: white;
}

.registerPageLight, .registerPageDark {
    height: 100vh;
    transition: background 0.3s, color 0.3s;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.registerPageInfoLight, .registerPageInfoDark {
    padding: 50px;
    transition: background 0.2s;
}

.registerPageInfoLight {
    background: rgba(248, 249, 250);
}

.registerPageInfoDark {
    background: rgba(33, 37, 41);
}


