
/* Start of Dark Mode */
.resultsPageLight {
    background: #F8F9FA ;
    color: black;
    transition: background 0.3s, color 0.3s; 
}

.resultsPageDark {
    background: #212529;
    transition: background 0.3s; 
}

.resultsPageDark * {
    color: white;
    transition: color 0.3s;
}

.resultsPageLight, .resultsPageDark {
    /* width: 100%; */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-top: 70px;
}
/* End of Dark Mode */