* {
  box-sizing: border-box;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
}

html {
  height: 100%;
  font-size: 16px;
}

body {
  height: 100%;
  background: #D4F1F4;
}

img {
  width: auto;
  height: 295px;
}

button {
  background: #05445E;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
}

button:hover {
  filter: brightness(85%);
  cursor: pointer;
}

label {
  color: #fff;
}

input {
  font-size: 1rem;
  padding: 10px;
  line-height: 100%;
  margin: 10px 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

li {
  display: inline;
  color: #fff;
  float: left;
}

li:hover{
  filter: brightness(50%);
}

li a {
  text-decoration: none;
  color: #fff;
  padding: 10px;
  display: block;
  text-align: center;
  padding: 14px 16px;
}

li a:visited, li a:active, li a:focus {
  color: #fff;
}

#root {
  height: 100%;
}

.App {
  height: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.nav {
  opacity: 0.85;
  background: #05445E;
  position: sticky;
  top: 0;
  padding: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
}

 .searchSection {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
}

.myListBtn, .homeBtn, .searchBtn {
  height: 50px;
  width: auto;
}

.homeBtn > img, .searchBtn > img {
  width: 25px;
  height: 25px;
}

.home, .myList, .searchResults {
  margin: 0 100px;
  overflow: auto;
  transition: opacity 1s ease;
  height: auto;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.pageNavBtns {
  display: flex;
}

.cardGrid {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(5, auto);
}

.card {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

/* .card:hover button {
  visibility: visible;
}  */

.mainCardContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mainCardContent:hover {
  cursor: pointer;
  filter: brightness(85%);
}

.summary {
  text-align: justify;
  text-justify: inter-word;
  width: 100%;
  overflow: hidden;
}

.cardImg {
  position: relative;
}

.addToListBtn {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  cursor: pointer;
  background: #05445E;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 5px;
  /* z-index: 5; */
}

.removeFromListBtn {
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
  cursor: pointer;
  background: #05445E;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 5px;
  /* z-index: 5; */
}

.addToListBtn .listPopup {
  visibility: hidden;
  background-color: #555;
  color: #fff;
  text-align: center;
  position: absolute;
  /* z-index: 5; */
}

.removeFromListBtn .listPopup {
  visibility: hidden;
  background-color: #555;
  color: #fff;
  text-align: center;
  position: absolute;
  /* z-index: 5; */
}

.addToListBtn .show {
  visibility: visible;
}

.removeFromListBtn .show {
  visibility: visible;
}

.listPopup li, .listPopup button {
  width: 100%;
}

.showPage {
  height: auto;
  max-width: 100%;
  width: 100vw;
}

.footer {
  background: #189AB4;
  padding: 5px 0;
  width: 100%;
  height: auto;
  text-align: center;
  margin-top: auto;
  margin-bottom: 0;
}

.showPagePoster {
  position: relative;
}

.addToListBtnShowPage {
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
  cursor: pointer;
  background: #05445E;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 5px;
}

.backdropImg {
  height: auto;
  width: 100%;
}

.posterWrapper {
  position: relative;
  width: auto;
}

.showInfoContainer {
  display: flex;
  gap: 20px;
}

.trailer {
  /* position: absolute; */
  top: 50%;
  left: 50%;
  height: 300px;
  width: 400px;
  border: none;
}

.listDetails {
  display: flex;
  gap: 10px;
}

.seasonsCarousel, .castCarousel {
  display: flex;
  gap: 10px;
}

.seasonPoster {
  height: 300px;
  width: auto;
}

.personPic {
  height: 200px;
  width: auto;
}

.carousel-container {
  width: 100%;
 }

.react-multi-carousel-item {
  color: black;
 }