* {
  box-sizing: border-box;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  color: #000000
}

:root {
  --card-width: 185px;
  --card-height: 278px;
  --main-width: 80%;
}

html {
  height: 100%;
  font-size: 16px;
}

body {
  height: fit-content;
  background: #D3D0CB;
}

button {
  background: #05445E;
  color: white;
  border: none;
  /* border-radius: 5px; */
  padding: 10px;
}

button:hover {
  filter: brightness(85%);
  cursor: pointer;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

li {
  display: inline;
  color: #fff;
  float: left;
}

li:hover{
  filter: brightness(50%);
}

a {
  text-decoration: none;
  color: #fff;
  display: block;
  text-align: center;
}

a:visited, a:active {
  color: #fff;
}

footer {
  background: #393E41;
  padding: 5px 0;
  width: 100%;
  height: auto;
  text-align: center;
  margin: 0;
  margin-top: auto;
  color: #FFF;
}

#root {
  height: 100%;
}

.App {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.cardGrid {
  width: var(--main-width);
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(var(--card-width), auto));
  justify-items: center;
}

.backdrop {
  max-width: 100%;
}
  
.backdropImg {
  /* height: 80%; */
  max-width: 100%;
}

.posterWrapper {
  position: relative;
  width: var(--card-width);
  height: var(--card-height);
  cursor: pointer;
}

/* .posterWrapper:hover .addToListBtn {
  visibility: visible;
} */

.posterWrapper:hover .removeFromListBtn {
  visibility: visible;
}

.strip {
  overflow: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
  padding: 20px;
  width: 100%;
}

.categoryPage, .listPage, .searchResults {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.categoryPage .removeFromListBtn {
  display: none;
}


.showMoreBtn {
  margin: 20px;
  padding: 10px;
  font-size: 1rem;
}