* {
  box-sizing: border-box;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  color: #000000;
}
  
:root {
  --card-width: 185px;
  --card-height: 278px;
  --main-width: 80%;
}
  
html {
  height: 100%;
  font-size: 16px;
}

body {
  height: 100%;
}
  
footer {
  background: #393E41;
  padding: 5px 0;
  width: 100%;
  text-align: center;
  margin: 0;
  color: #FFF;
  margin-top: auto;
  margin-bottom: 0;
}

h1, h2 {
  color: #297373;
}

#root {
  height: 100%;
}

.App {
  background: #F0F0F4;
  max-width: 100vw;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
  overflow: scroll;
}

.navbar-brand {
  margin-left: 16px !important;
}

.searchForm {
  margin-left: 16px;
  margin-right: 16px;
}

.nav-pills .nav-link {
  color: #000000 !important;
}

.nav-pills .nav-link.active {
  background: #198754 !important;
  color: white !important;
}

.home {
  width: var(--main-width);
  align-self: center;
  padding-top: 50px;
}

.stripWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}

.stripWrapper a {
  text-decoration: none;
}

.strip {
  overflow-x: scroll;
  overflow-y: hidden;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
  padding: 20px;
  width: 100%;
}

.card img:hover {
  filter: brightness(50%);
}

.categoryPage, .listPage, .searchResults {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding-top: 70px;
}

.cardGrid {
  width: var(--main-width);
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(var(--card-width), auto));
  justify-items: center;
}

.backdrop {
  width: 100%;
  text-align: center;
}
  
.backdropImg {
  width: 100%;
}
  
.showPage, .moviePage {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
}

.allShowInfo, .allMovieInfo {
  width: 100%;
  padding: 20px 4rem 0 4rem;  
}

.showInfoContainer, .movieInfoContainer {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.showPosterWrapper, .moviePosterWrapper {
  position: relative;
  height: auto;
  width: 300px; //make a poster width variable
}

.titleSection {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 10px;
  font-size: 2rem;
  font-weight: bold;
}

.seasonSection {
  display: flex;
  gap: 10px;
}

.plotSection {
  // width: 80%;
}

.listSection {
  height: 100%;
  width: 100%;
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: center;
  gap: 10px;
}

.list {
  width: var(--main-width);
  padding: 20px;
  background: #393E41;
  opacity: 85%;
  border-radius: 5px;
} 

.list:hover {
  filter: brightness(85%);
}

.list a {
  text-decoration: none;
}

.listDetails {
  display: flex;
  gap: 10px; 
}

.listItem * {
  color: white;
  text-decoration: none;
}

.showMoreBtn {
  margin: 30px 0;
  background: #198754 !important;
  border: none !important;
}
